@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
  margin: 0px;
}
:root{
  --Green: rgb(0, 128, 79);
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  position: relative;
}
.header{
  height: 10vh;
  background-color: var(--Green);
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer{
  height: 5vh;
  font-size: 0.7rem;
  position: absolute;
  bottom: 0px;
  background-color: var(--Green);
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading{
  width: 100vw;
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading h1{
  margin-bottom: 1rem;
}
.genre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.genreBtns{
  margin-top: 2rem;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btn{
  font-size: 1rem;
  margin: 10px;
  padding: 1rem;
  border: 1px solid var(--Green);
}
.btn:hover{
  box-shadow: 0px 2px 5px black;
  background: none;
  background-color: var(--Green);
  color: white;
}
.books{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.books h4{
  display: block;
  width: 60%;
  padding: 1rem;
  margin: 5px;
  border: 1px solid var(--Green);
}
@media screen and (max-width: 450px){
  .heading{
    font-size: 1rem;
    margin-top: 1rem;
  }
  .genreBtns{
    margin-top: 1rem;
  }
  .btn{
    padding: 0.8rem;
    font-size: 1rem;
  }
}